@charset "utf-8";
/* CSS Document */

.maintitle{
	font-weight: 600; 
	color: black; 
	text-transform: uppercase; 
	letter-spacing: .5em;
	text-align: left; 
	font-family: 'Helvetica';
	font-size:2.5vw;
	margin-left: 10vw;
	margin-bottom: 0vw;
}
.maintitleb{
	margin-left: 10vw;
	margin-top: .5vw;
	width: 85%;
}
.basicinformation{
	padding-left: 10vw;
}
.line{
	padding-top: 5em;
}